#taiji{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ffffff 50%,#ffffff 50%,#000000 50%,#000000 50%);
    position: relative;
    
  }
  
  #taiji:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 40px solid #000;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    background: #fff;
    left: 0;
      
  }
  
  #taiji:after {
    content: "";
    width: 20px;
    height: 20px;
    border: 40px solid #fff;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    background: #000;
    right: 0;
  }
  